{{ define "signup" }}

{{ template "header" . }}

<h1>Sign Up</h1>

<form method="post" action="/login">

	<p>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" placeholder="Username">
	</p>

	<p>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" placeholder="Password">
	</p>

	<input type="submit" name="submit" value="Login">

</form>

<p>
	<a href="/login">Already logged in?</a>
</p>

{{ template "footer" . }}

{{ end }}

